{% extends 'store/base.html' %}
{% load static %}

{% block title %}
    Оформить Заказ
{% endblock title %}

{% block content %}

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name">Оформить заказ</h1>
					<ol class="breadcrumb">
						<li><a href="{% url 'index' %}">Главная</a></li>
						<li class="active">оформить заказ</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
<div class="page-wrapper">
   <div class="checkout shopping" x-data>
      <div class="container">
         <div class="row">
            <div class="col-md-8">
               <div class="block billing-details">
                  <h4 class="widget-title" id="form-wrapper">ВАША ИНФОРМАЦИЯ</h4>

                   {# Order Form #}
                   {% include 'store/partials/order_form.html' %}

               </div>
            </div>
            <div class="col-md-4">
               <div class="product-checkout-details">
               <a href="{% url 'cart' %}" class="btn btn-main btn-small btn-round btn-icon"><i class="tf-ion-ios-cart-outline"></i>Вернуться в корзину</a>
                <hr>
                  <div class="block">
                     <h4 class="widget-title">Информация о заказе</h4>

                     {% for item in items %}
                      <div class="media product-card">
                        <a class="pull-left" href="{% url 'product' item.product.id %}">
                           <img class="media-object" src="{{ item.product.imageURL }}" alt="Image" />
                        </a>
                        <div class="media-body">
                           <h4 class="media-heading"><a href="{% url 'product' item.product.id %}">{{ item.product.name}}</a></h4>
                           <p class="price">{{ item.quantity }} x {{ item.product.price }} руб.</p>
                        </div>
                     </div>
                    {% endfor %}

                    <div class="summary-prices"></div>
                     <div class="summary-total">
                        <span>Итог</span>
                        <span>{{ order.get_cart_total|floatformat:2 }} руб.</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

</div>
   <!-- Discount code Modal -->
   <div class="modal fade" id="coupon-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-body">
               <form>
                  <div class="form-group">
                     <input class="form-control" type="text" placeholder="Enter Coupon Code">
                  </div>
                  <button type="submit" class="btn btn-main">Apply Coupon</button></form>
            </div>
         </div>
      </div>
   </div>


<script>

      function formatPhoneNumber(value) {
        if (!value) return value;
        const phoneNumber = value.replace(/[^\d]/g, '');
        const phoneNumberLength = phoneNumber.length;
        if (phoneNumberLength < 3) return phoneNumber;
        if (phoneNumberLength < 7) {
          return `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(3)}`;
        }
        return `(${phoneNumber.slice(0, 3)}) ${phoneNumber.slice(
          3,
          6
        )}-${phoneNumber.slice(6, 10)}`;
      }

      function phoneNumberFormatter() {
        const inputField = document.getElementById('phone');
        const formattedInputValue = formatPhoneNumber(inputField.value);
        inputField.value = formattedInputValue;
      }


    var shipping = '{{ order.shipping }}'
    var total = '{{ order.get_cart_total }}'

    function generateCSRFToken() {
      let token = '';
      const characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
      const length = 32;
      for (let i = 0; i < length; i++) {
        token += characters.charAt(Math.floor(Math.random() * characters.length));
      }
      return token;
    }

    {# generateCSRFToken() functions with these 3 lines if it stops working #}
    {#var form = document.getElementById('form')#}
    {#csrftoken = form.getElementsByTagName('input')[0].value#}
    {#console.log('Newtoken:', form.getElementsByTagName('input'[0].value))#}



    csrftoken = generateCSRFToken()
    console.log('Newtoken:', csrftoken)


    {#form.addEventListener('submit', function (e) {#}
    {#    e.preventDefault()#}
    {#    console.log('Form Submitted...')#}
    {#})#}

    document.getElementById('make-payment').addEventListener('click', function (e) {
        console.log("Make payment click by " + user)
        submitFormData()
    })

    function submitFormData() {
        console.log('Payment button clicked')

        // setting up initial values for User and shipping info
        var userFormData = {
            'name':null,
            'phone': null,
            'email':null,
            'address':null,
            'zipcode':null,
            'city':null,
            'total':total,
        }

        var shippingInfo = {
            'address':null,
            'phone':null,
            'zipcode':null,
            'city':null,
        }


        if(user == 'AnonymousUser'){
            console.log("USER: " + user)
            userFormData.name = form.name.value
            userFormData.name = document.getElementById("name").value
            console.log("NAME: " + userFormData.name)
            {#userFormData.phone = form.phone.value#}
            userFormData.phone = document.getElementById("phone").value
            console.log("PHONE: " + userFormData.phone)
            {#userFormData.email = form.email.value#}
            userFormData.email = document.getElementById("email").value
            console.log("EMAIL: " + userFormData.email)

            userFormData.address = document.getElementById("address").value
            console.log("ADDRESS: " + userFormData.address)

            {#userFormData.address = form.address.value#}
            userFormData.zipcode = parseInt(document.getElementById("zipcode").value)
            console.log("ZIPCODE: " + userFormData.zipcode)

            userFormData.city = document.getElementById("city").value
            console.log("CITY: " + userFormData.city)


            shippingInfo.phone = document.getElementById("phone").value
            shippingInfo.address = document.getElementById("address").value
            shippingInfo.zipcode = document.getElementById("zipcode").value
            shippingInfo.city = document.getElementById("city").value
        }

        var url = '/store/process-order/'
        fetch(url, {
            method:'POST',
            headers:{
                'Content-Type':'application/json',
                'X-CSRFToken': '{{ csrf_token }}',
            },
            body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
        })
        .then((response) => response.json())
        .then((data) => {
            console.log('Succcess:', data);
            {#alert('Transaction completed');#}

            cart = {}
            document.cookie = 'cart=' + JSON.stringify(cart) + ';domain=;path=/'

            window.location.href = "{% url 'confirmation' %}"
        })
    }
</script>
{% endblock content %}