{% extends 'store/base.html' %}
{% load static %}

{% block title %}
    Store Page
{% endblock title %}

{% block content %}

{% url 'store:shop' as shop_url %}

{# Breadcrumbs start #}
<section class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    <h1 class="page-name">Товары</h1>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'store:index' %}">Главная</a></li>
                        <li class="active">товары</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
{# Breadcrumbs end #}

<section class="products section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

{#            Feature: sorting drop-down#}
{#                <div class="widget">#}
{#                    <h4 class="widget-title">Сортировать</h4>#}
{#                    <form method="post" action="#">#}
{#                        <select class="form-control">#}
{#                            <option>Для мужчин</option>#}
{#                            <option>Для женщин</option>#}
{#                            <option>Аксессуары</option>#}
{#                            <option>Обувь</option>#}
{#                        </select>#}
{#                    </form>#}
{#                </div>#}

                <div class="widget product-category">
                    <h4 class="widget-title">
                        Категории
                        {% if request.path != shop_url %}<a href="{% url 'store:shop' %}" class="text-muted
                        filter-reset"> Сбросить</a> {% endif %}
                    </h4>
                    <div class="panel-group commonAccordion" id="accordion" role="tablist"
                         aria-multiselectable="true">
                        {% for category in categories %}
                        {% if category.product_set.count != 0 %}
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a href="{% url 'store:category' category.id %}">

{#                                            Feature: sub-categories drop-down#}
{#                                        <a role="button" data-toggle="collapse" data-parent="#accordion"#}
{#                                           href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">#}

                                                {{ category }}
                                        </a>
                                    </h4>
                                </div>

{#                                            Feature: sub-categories drop-down#}
{#                                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"#}
{#                                     aria-labelledby="headingOne">#}
{#                                    <div class="panel-body">#}
{#                                        <ul>#}
{#                                            <li><a href="#!">Brand & Twist</a></li>#}
{#                                            <li><a href="#!">Shoe Color</a></li>#}
{#                                            <li><a href="#!">Shoe Color</a></li>#}
{#                                        </ul>#}
{#                                    </div>#}
{#                                </div>#}

                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row">

                    {% for product in products %}
                        <div class="col-md-4">
                            <div class="product-item d-flex flex-column justify-content-between">
                                <div class="product-thumb">
                                    {#						<span class="bage">Акция</span>#}
                                    <img class="rounded" style="object-fit:cover; height:45vh"
                                         src="{{ product.imageURL }}" alt="{{ product.name }}"/>
                                    <div class="preview-meta">
                                        <ul>
                                            <li>
                                <span data-toggle="modal" data-target="#product-modal-{{ product.id }}">
                                    <i class="tf-ion-ios-search-strong"></i>
                                </span>
                                            </li>
                                            <li>
                                                <a data-product="{{ product.id }}" data-action="add"
                                                   class="update-cart" title="Добавить в корзину">
                                                    <i class="tf-ion-android-cart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4><a href="{% url 'store:product' product.pk %}">{{ product }}</a></h4>
                                    <p class="price">{{ product.price|floatformat:2 }} руб.</p>
                                </div>
                            </div>
                        </div>


                        <!-- Modal -->
                        <div class="modal product-modal fade" id="product-modal-{{ product.id }}">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="tf-ion-close"></i>
                            </button>
                            <div class="modal-dialog border border-info" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-8 col-sm-6 col-xs-12">
                                                <div class="modal-image">
                                                    <img class="img-responsive" src="{{ product.imageURL }}"
                                                         alt="{{ product.name }}"/>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-sm-6 col-xs-12">
                                                <div class="product-short-details">
                                                    <h2 class="product-title">{{ product.name }}</h2>
                                                    <p class="product-price">{{ product.price }} руб.</p>
                                                    <p class="product-short-description">
                                                        {{ product.description.html|safe|truncatewords:10 }}
                                                    </p>
                                                    <a href="#" data-product="{{ product.id }}" data-action="add"
                                                       class="update-cart btn btn-main"
                                                       title="Добавить товар в корзину">Добавить</a>
                                                    <a href="{% url 'store:product' product.pk %}"
                                                       class="btn btn-transparent">К описанию товара</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- /.modal -->
                    {% endfor %}

                </div>
            </div>

        </div>
    </div>
</section>


{% endblock content %}