
    <button class="btn btn-success mb-2 p-2 fs-3" id="fillInfoButton" onclick="fillInfo()">
        Заполнить тестовой информацией
    </button>
{% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
          {% endif %}
    <form method="POST" class="checkout-form" id="form">
        {% csrf_token %}
    {% if user.is_authenticated %}
        <div class="form-group">
            <label for="name">ФИО <a title="Обязательно к заполнению">*</a></label>
            {{ form.name }}
        </div>
        <div class="form-group">
            <label for="phone">Телефон <a title="Обязательно к заполнению">*</a></label>
            {{ form.phone_number }}
        </div>
        <div class="form-group">
            <label for="address">Адрес</label>
            {{ form.address }}
        </div>
        <div class="checkout-country-code clearfix">
            <div class="form-group">
                <label for="zipcode">Индекс</label>
                {{ form.zipcode }}
            </div>
            <div class="form-group">
                <label for="city">Город</label>
                {{ form.city }}
            </div>
        </div>
        <button type="submit" class="btn btn-main mt-20">Отправить</button>

    {% else %}
        <div class="form-group"> {# add id="user-info" to hide if authenticated #}
            <label for="name">ФИО</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="phone">Телефон</label>
            <input type="tel" x-mask:="(999) 999-99-99" class="form-control" id="phone" name="phone"
                   placeholder="(905) 123-45-67">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="">
        </div>
        <div class="form-group">
            <label for="address">Адрес</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="">
        </div>
        <div class="checkout-country-code clearfix">
            <div class="form-group">
                <label for="zipcode">Индекс</label>
                <input type="text" maxlength="6" class="form-control" id="zipcode" name="zipcode" value=""
                       title="Почтовый индекс">
            </div>
            <div class="form-group">
                <label for="city">Город</label>
                <input type="text" class="form-control" id="city" name="city" value="">
            </div>
        </div>
    <button type="submit" id="make-payment" class="btn btn-main mt-20">Отправить</button>
    {% endif %}

</form>

<script>
    function fillInfo() {
        document.getElementById("name").value = "Вася Пупкин"
        document.getElementById("phone").value = "(905) 123-45-67"
        document.getElementById("email").value = "v.pupkin@gmail.com"
        document.getElementById("address").value = "Тест Адрес, дом 6, кв. 9"
        document.getElementById("zipcode").value = "55555"
        document.getElementById("city").value = "Sin City"

        {#document.getElementById("name").focus()#}
        document.getElementById("name").select()
    }
</script>