.text-outline {
    -webkit-text-fill-color: white!important; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.card-title-gradient {
    position: absolute;
    left: 0;
    top: 0;
    right: -900px;
    padding: 120px; /* how low gradient goes*/
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent);
    z-index: -1;

}