{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% translate "MP Monitor Project" %}{% endblock title %}

{% block content %}

    <main id="main1">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <div class="d-flex justify-content-between align-items-center">
                    <h2>MP Monitor</h2>
                    <ol>
                        <li><a href="{% url 'core:main' %}">{% translate "Home" %}</a></li>
                        <li>MP Monitor</li>
                    </ol>
                </div>

            </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-8">
                        <div class="portfolio-details-slider swiper">
                            <div class="swiper-wrapper align-items-center">

                                <div class="swiper-slide img-thumbnail">
                                    <img src="{% static 'core/img/portfolio/mp_monitor/mp_monitor_screen_1.jpg' %}"
                                         alt="">
                                </div>

                                <div class="swiper-slide img-thumbnail">
                                    <img src="{% static 'core/img/portfolio/mp_monitor/mp_monitor_screen_2.jpg' %}"
                                         alt="">
                                </div>

                                <div class="swiper-slide img-thumbnail">
                                    <img src="{% static 'core/img/portfolio/mp_monitor/mp_monitor_screen_3.png' %}"
                                         alt="">
                                </div>

                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="portfolio-info">
                            <h3>Project information</h3>
                            <ul>
                                <li><strong>{% translate "Name" %}</strong>: MP Monitor</li>
                                <li><strong>{% translate "Category" %}</strong>: {% translate "E-commerce" %}</li>
                                <li><strong>{% translate "Project URL" %}</strong>:
                                    <a href="https://mpmonitor.ru/" target="_blank">mpmonitor.ru
                                        <i class="bx bx-link-external small"></i>
                                    </a>
                                </li>
{#                                <li><strong><i class="bx bxl-github"></i> Github</strong>: <a#}
{#                                        href="#"#}
{#                                        target="_blank">#}
{#                                    ##}
{#                                    <i class="bx bx-link-external small"></i>#}
{#                                </a></li>#}
                                <li><strong>{% translate "Technologies" %}</strong>:
                                    Python, Django, HTML, CSS, JavaScript, Bootstrap 5, HTMX, AlpineJS
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="portfolio-description">
                        <h2>{% translate "MP Monitor, a beautiful price parser for Wildberries" %}</h2>
                        <p>
                            {% translate "Monitor Wildberries prices either by hand or automatically. Ability to set a schedule for checking prices and see history of changes with a beautiful chart." %}
                        </p>
                        <p>
                            {% translate "Main features include:" %}
                        </p>
                        <ul>
                            <li>{% translate "Registration and authentication" %}</li>
                            <li>{% translate "Unfinished orders are saved to cookies for unregistered users" %}</li>
                            <li>{% translate "Demo functionality with one click" %}</li>
                            <li>{% translate "Schedule price checking" %}</li>
                            <li>{% translate "Modern and stylish interface" %}</li>
                            <li>{% translate "Price history chart" %}</li>
                            <li>{% translate "Shows current average, max and min prices" %}</li>
                        </ul>

                        <div class="d-flex justify-content-start align-items-center">
                            <a class="btn btn-danger pill rounded-pill px-4 ms-1 me-0" href="https://mpmonitor.ru/"
                               role="button" title="mpmonitor.ru" target="_blank">{% translate "Visit Project" %}</a>
                            {#                            <a class="fs-1 ms-3 link-dark" href="#"#}
                            {#                               style='color:#000' title="#" target="_blank">#}
                            {#                                <i class="bx bxl-github fs-1"></i>#}
                            {#                            </a>#}
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Portfolio Details Section -->

    </main>

    {% include "core/partials/footer.html" %}

{% endblock content %}
