{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
    Изменить пароль
{% endblock title %}

{% block content %}
<section class="signin-page account">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="block">
          <h2 class="text-center mt-0 pt-0">Сброс пароля</h2>

        <form method="POST" autocomplete='off'>
            {% csrf_token %}
            {{ form|crispy }}
            <button id="password_reset_submit_button" type="submit" class="btn btn-main text-center">Сбросить
                пароль</button>
            <button type="button" class="btn btn-main" onclick="history.back()">Отмена</button>
        </form>

        </div>
      </div>
    </div>
  </div>
</section>



{% endblock content %}

