{% extends 'store/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
Изменить пароль
{% endblock title %}

{% block content %}

<div class="container border bg-light shadow mt-3 py-2">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Смена пароля</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-main mt-2" type="submit">Изменить пароль</button>
                <a href="{% url 'index' %}" class="btn btn-main mt-2">Отмена</a>
            </div>
        </form>
    </div>

{% endblock content %}
