{% load i18n %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-around align-items-center">
    <div class="hero-container"></div>
    <div class="hero-container" data-aos="fade-in">
        {# Translators: Hero section's main text #}
        <h1>{% translate "Igor Simbirtsev" %}</h1>
        <p>{% translate "I'm a" %}
            <span class="typed" data-typed-items="{% translate 'Django Developer, Python Programmer' %}"></span>
        </p>
    </div>
</section><!-- End Hero -->
