{% load i18n %}
{% load static %}

<div class="row">
                <!-- Python -->
                <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch parallax-outer"
                     data-tilt
                     data-tilt-reverse="true"
                     data-tilt-perspective="3000"
                     >

                    <div data-aos="fade-right" class="text-center skill-card shadow-sm
                    parallax-outer">
                        <div class="parallax-inner">
                            <img src="{% static 'core/img/skills/python_logo.png' %}" alt="Python logo"
                                 class="img-fluid w-25 pb-2"
                                 style="filter:drop-shadow(10px 10px 5px #999);">
                        </div>

                        <h5 class="h5 fw-bolder letter-spacing-closer">{% trans "Python Development" %}</h5>
                        <p class="text-start mb-0 px-2">
                            {% trans "I use Python on a daily basis to build websites. You can see examples of my work implementing Python in my projects section." %}
                        </p>
                    </div>
                </div>

                <!-- Django -->
                <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch parallax-outer"
                     data-tilt
                     data-tilt-reverse="true"
                     data-tilt-perspective="3000">

                    <div data-aos="fade-down" class="text-center skill-card shadow-sm parallax-outer">
                        <div class="parallax-inner">
                            <img src="{% static 'core/img/skills/django_logo.png' %}" alt="Python logo"
                                 class="img-fluid w-50 mb-3"
                                 style="filter:drop-shadow(10px 10px 5px #999);">
                        </div>

                        <h5 class="h5 fw-bolder letter-spacing-closer">{% trans "Django Full Stack Web Development" %}</h5>
                        <p class="text-start mb-0 px-2">
                            {% trans "I use one of the most popular and versatile frameworks to build websites. Django and MVC fit the bill for most projects. Visit my projects to see examples." %}
                        </p>
                    </div>
                </div>

                <!-- Front End -->
                <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch parallax-outer"
                     data-tilt
                     data-tilt-reverse="true"
                     data-tilt-perspective="3000">

                    <div data-aos="fade-left" class="text-center skill-card shadow-sm parallax-outer">
                        <div class="parallax-inner">
                            <img src="{% static 'core/img/skills/frontend_logo.png' %}" alt="Python logo"
                                 class="img-fluid w-50 mb-2"
                                 style="filter:drop-shadow(10px 10px 5px #999);">
                        </div>

                        <h5 class="h5 fw-bolder letter-spacing-closer">{% trans "Front End Development" %}</h5>
                        <p class="text-start mb-0 px-2">
                            {% trans "I use HTML, CSS and JavaScript to build attractive frontends for websites." %}
                        </p>
                    </div>
                </div>

                <!-- Bootstrap -->
                <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch parallax-outer"
                     data-tilt
                     data-tilt-reverse="true"
                     data-tilt-perspective="3000">

                    <div data-aos="fade-right" class="text-center skill-card shadow-sm parallax-outer">
                        <div class="parallax-inner">
                            <img src="{% static 'core/img/skills/bootstrap_logo.png' %}" alt="Python logo"
                                 class="img-fluid w-25 mb-2"
                                 style="filter:drop-shadow(10px 10px 5px #999);">
                        </div>

                        <h5 class="h5 fw-bolder letter-spacing-closer">{% trans "Bootstrap Front End Design" %}</h5>
                        <p class="text-start mb-0 px-2">
                            {% trans "The look and feel are very important elements to any project. I utilize Bootstrap 5 to bring an attractive design to your web projects." %}
                        </p>
                    </div>
                </div>

                <!-- Database -->
                <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch parallax-outer"
                     data-tilt
                     data-tilt-reverse="true"
                     data-tilt-perspective="3000">

                    <div data-aos="fade-up" class="text-center skill-card shadow-sm parallax-outer">
                        <div class="parallax-inner">
                            <img src="{% static 'core/img/skills/sql_logo.png' %}" alt="Python logo"
                                 class="img-fluid w-25 pb-2"
                                 style="filter:drop-shadow(10px 10px 5px #999);">
                        </div>

                        <h5 class="h5 fw-bolder letter-spacing-closer">{% trans "Database Development" %}</h5>
                        <p class="text-start mb-0 px-2">
                            {% trans "Database development is critical to most project. I am well versed in SQL development from queries to design." %}
                        </p>
                    </div>
                </div>

                <!-- Docker -->
                <div class="col-12 col-md-6 col-lg-4 d-flex align-items-stretch parallax-outer"
                     data-tilt
                     data-tilt-reverse="true"
                     data-tilt-perspective="3000">

                    <div data-aos="fade-left" class="text-center skill-card shadow-sm parallax-outer">
                        <div class="parallax-inner">
                            <img src="{% static 'core/img/skills/docker_logo.png' %}" alt="Python logo"
                                 class="img-fluid w-25 pb-2"
                                 style="filter:drop-shadow(10px 10px 5px #999);">
                        </div>

                        <h5 class="h5 fw-bolder letter-spacing-closer">{% trans "Safer, faster development" %}</h5>
                        <p class="text-start mb-0 px-2">
                            {% trans "When working as a part of a team, safety and speed are crucial. Docker helps smooth out this process" %}
                        </p>
                    </div>
                </div>

            </div>
