{% load i18n %}
<!-- ======= Skills Section ======= -->
<section id="skills" class="skills section-bg">
    <div class="container">

        <div class="section-title">
            <h2>{% translate "Skills" %}</h2>
            <p>
                {% translate "I am a creative problem solver. I use Python, Django, SQL, Bootstrap, HTML, CSS and JavaScript. I have highlighted my key technical skills that I will bring to your project" %}.</p>
        </div>

        {% include "core/partials/skills_list.html" %}

    </div>
</section><!-- End Skills Section -->
